# Wildcards
*.config.ts
*.changeset
*.config.js
*-lock.yaml
tsconfig.*.json

# Sources
node_modules
tests
src
.gitignore
tsconfig.json

# Test files
**/*.spec.js
**/*.test.js
**/*.test.d.ts
**/*.spec.d.ts
